
@font-face {
  font-family: 'Futura';
  src: "../fonts/FuturaBoldItalic.ttf"
}

html,body{ 
    margin: 0;
    padding: 0;
    font-family: 'Futura', sans-serif;
}

.meny {
    padding: 25px;
    background: white;
    font-size: 24px;
    text-align: center;

}

.meny a{
    padding: 0 40px;
    text-decoration: none;
    color: goldenrod;
}